body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://assets.change.org/photos/5/tw/yg/nUTWyGCsvuQERfw-800x450-noPad.jpg?1509956797');
    color: #ffffff;
    font-family: Tahoma;
    font-size: 18px;
    padding: 20px;
    }
    .background {
      background-color: rgba(0, 0, 0, 0.8);
        margin: 1em auto;
      padding: 40px;
        border-radius: 5px;
        box-shadow: 0 0 10px #000;
        position: auto;
        width: 500px;
    }
    h1,p {
      text-align: center;
      margin: 1em auto;
    }
    form {
      margin: 0 auto;
      width: 60vw;
      min-width: 300px;
      max-width: 500px;
      padding-bottom: 2em;
    }
    fieldset {
      border: none;
      padding: 2rem 0;
      border-bottom: 3px solid #f1f2f3;
    }
    fieldset:last-of-type {
    border-bottom: none;
    }
    label {
      display: block;
      margin: 1rem 0;
    }
    input, textarea, select {
      margin: 10px 0 0 0;
      width: 100%;
      min-height: 3em;
    }
    input, textarea {
      background-color: #ffffff;
      border: 1px solid #0a0a23;
      color: black;
    }
    .inline{
      width: unset;
      margin: 0 0.5em 0 0;
      vertical-align: middle;
      min-height: 4em;
    }
    input[type="submit"] {
      display: block;
      width: 60%;
      margin: 1em auto;
      height: 2em;
      font-size: 1.1rem;
      background-color: #0a0a23;
      border-color: white;
      min-width: 300px;
      color: white;
      overflow: hidden;
      color: #ffffff;
      border-radius: 30px;
      box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5) 0 0 0 0 rgba(39, 200, 255, 0);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
input[type="submit"]:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5) -10px 10px 25px 0 rgba(39, 200, 255, 0);
}
input[type="submit"]::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}
